.clients {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.carousel-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.feedback-card {
  width: 300px;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  margin-right: 20px;
  text-align: center;
}
/* Clients Section 1 */

.clients-section1 {
  width: 100%;
}
.clients-section1 img {
  position: relative;
  width: 100%;
}
.clients-section1 p {
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
  color: #000;
  font-weight: 700;
  bottom: -100px;
  margin: 0 20px;
  font-family: var(--heading-font);
}

@media screen and (max-width: 980px) {
  .clients-section1 p {
    display: none;
  }
}

/* Feedback Carousel Styles */

.slider-container {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 40px 0;
}
.slider-container h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--heading-font);
  margin-bottom: 20px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

@media screen and (max-width: 980px) {
  .feedback-card {
    flex: 0 0 calc(100% / 2);
  }
}

@media screen and (max-width: 480px) {
  .feedback-card {
    flex: 0 0 100%;
    margin: 0 5px;
  }
}

.name {
  font-size: 24px;
  margin-bottom: 10px;
}

.rating {
  font-size: 24px;
  margin-bottom: 15px;
}

.comment {
  font-size: 16px;
  color: #555;
}

/* Clients Section 3 */

.clients-section3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  background-color: #f9f9f9;
}
.clients-section3 h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--heading-font);
  margin: 20px 0;
}

.logo-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 40px;
}

.logo-item {
  width: calc(25% - 20px);
  max-width: 150px;
  height: auto;
}

@media screen and (max-width: 980px) {
  .logo-item {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .logo-item {
    width: 100%;
  }
}
