.clients {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.clients-feedback {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  margin: 20px 0;
}

.carousel-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.feedback-card {
  max-width: 400px;
  height: 100%;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Clients Section 1 */

.clients-section1 {
  width: 100%;
}
.clients-section1 img {
  position: relative;
  width: 100%;
}
.clients-section1 p {
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
  color: #000;
  font-weight: 700;
  bottom: -100px;
  margin: 0 20px;
  font-family: var(--heading-font);
}

@media screen and (max-width: 980px) {
  .clients-section1 p {
    display: none;
  }
  .feedback-card {
    flex: 1;
  }
}

/* Feedback Carousel Styles */

.slider-container {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 40px 0;
}
.slider-container h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--heading-font);
  margin-bottom: 20px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

@media screen and (max-width: 980px) {
  .feedback-card {
    flex: 0 0 calc(100% / 2);
  }
}

@media screen and (max-width: 480px) {
  .feedback-card {
    flex: 0 0 100%;
    margin: 0 5px;
  }
}

.name {
  font-size: 24px;
  margin-bottom: 10px;
}

.rating {
  font-size: 24px;
  margin-bottom: 15px;
}

.comment {
  font-size: 16px;
  color: #555;
}

/* Clients Section 3 */

.clients-section3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f9f9f9;
  justify-content: center;
}
.clients-section3 h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--heading-font);
  margin: 20px 0;
}

.logo-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo-item {
  width: 150px;
  height: auto;
  margin: 0 auto;
  background-color: transparent;
}

@media screen and (max-width: 980px) {
  .logo-item {
    width: 100px;
  }
  .logo-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .logo-item {
    width: 100%;
  }
}
