@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --white: #f9f7f7;
    --blue-hue-1: #dbe2ef;
    --blue-hue-2: #3f72af;
    --dark-blue: #112d4e;
    --heading-font: "Roboto Slab", serif;
    --body-font: "Roboto", sans-serif;
    --heading-font-size: 1.2rem;
    --body-font-size: 0.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
}

/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
    padding: 15px 30px;
}

.logo span {
    font-family: var(--heading-font);
    font-size: var(--heading-font-size);
    color: var(--white);
}

.nav-links a {
    color: var(--white);
    text-decoration: none;
    font-size: var(--heading-font-size);
    font-family: var(--body-font);
    font-weight: 600;
    padding: 0 20px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Footer  */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: var(--dark-blue);
    color: var(--white);
}

.footer-column {
    flex: 0;
    padding: 0 15px;
}

.footer-links a {
    display: block;
    margin-bottom: 10px;
    color: var(--white);
    text-decoration: none;
    font-size: var(--heading-font-size);
    font-family: var(--body-font);
}

.footer-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-social img {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
}

/*contact-section1*/
.contact-section {
    background-color: #D9D9D9;
    height: 40vh;
    /* 2/3 of the screen */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-text {
    font-weight: 700;
    font-size: 35px;
}

/*contact-section2 */
.contact-section-add {
    display: flex;
    background-color: #fff;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.address-info {
    flex: 1;
    padding: 20px;
    border-right: 2px solid #eee;
}

.map-container {
    flex: 1;
    padding: 20px;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 8px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    color: #666;
    margin-bottom: 10px;
    font-size: 16px;
}

.bold-text {
    font-weight: bold;
}

/*Browse*/
.browse-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    background-color: #3f72af;
    color: white;
    position: relative;
}

.browse-button {
    background-color: #dbe2ef;
    color: black;
    border: none;
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50px;
    /* Make it circular */
    display: flex;
    align-items: center;
}

.catalog-icon {
    margin-left: 10px;
    font-size: 28px;
}

/*enquire*/
.enquire-section {
    text-align: center;
    padding: 5%;
}

.enquire-heading {
    font-size: 36px;
    color: #112d4e;
}

.enquire-form {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #3f72af;
    border-radius: 10px;
    max-width: 500px;
    /* Increased width */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Depth effect */
    text-align: left;
    /* Align form items to the left */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.submit-button {
    background-color: #3f72af;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    /* Center the submit button */
}

/* Responsive Styles */

@media only screen and (max-width: 980px) {
    /* Adjustments for smaller screens */

    .nav-links a {
        padding: 0 10px;
    }

    .contact-section {
        height: auto;
    }

    .contact-section-add {
        flex-direction: column;
        padding: 5%;
    }

    .address-info,
    .map-container {
        width: 100%;
        border: none;
        padding: 10px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-column {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
}