.qp {
  flex: 1;
}

/* Content of qp */
#headee {
  padding-top: 40px;
  padding-left: 20px;
}

.noter-below {
  background-color: #3f72af;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh; /* Adjust as needed */
  font-size: large;
}

/* Content of qp */
.content-qp {
  background-color: #ffffff;
  padding-left: 25px;
  padding-top: 90px;
  padding-bottom: 50px;
  min-height: 500px;
  padding-right: 600px;
  line-height: 20px;
  font-family: var(--body-font);
}

/* Media Query for font size in smaller screens */
@media only screen and (max-width: 980px) {
  .content-qp {
    font-size: var(
      --body-font-size
    ); /* Set to the default font size for smaller screens */
    padding-right: 20px; /* Adjust as needed */
  }
}
