@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --white: #f9f7f7;
  --blue-hue-1: #dbe2ef;
  --blue-hue-2: #3f72af;
  --dark-blue: #112d4e;
  --heading-font: "Roboto Slab", serif;
  --body-font: "Roboto", sans-serif;
  --heading-font-size: 1.2rem;
  --body-font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
}

.home {
  width: 100%;
}

/* Navbar Styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  padding: 15px 30px;
}

.logo {
  flex-grow: 1; /* Allow logo to grow and push other elements */
}

.logo img {
  width: 50px;
}

.menu-icon {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
  display: none; /* Initially hidden for larger screens */
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: var(--white);
  text-decoration: none;
  font-size: var(--heading-font-size);
  font-family: var(--body-font);
  font-weight: 600;
  padding: 0 20px;
  transition: opacity 0.3s ease; /* Optional: Add a transition for smoother animation */
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Hamburger menu styles */
.menu-toggle {
  display: none; /* Initially hidden */
}

/* Show the menu when the checkbox is checked */
.menu-toggle:checked ~ .nav-links {
  display: block;
}

/* Show the hamburger menu icon for smaller screens */
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none; /* Initially hidden for smaller screens */
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-links a {
    padding: 15px 0; /* Adjust padding for better spacing */
  }

  /* Style the label as the hamburger menu icon */
  .menu-icon {
    display: block;
  }

  /* Show/hide the menu when checkbox is checked */
  .menu-toggle:checked ~ .nav-links {
    display: flex;
  }
}
/* Carousel Styles */

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

/* Section 1 Styles */
.section1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px 40px;
  gap: 40px;
}

.section1 h1 {
  font-family: var(--heading-font);
  font-size: 2rem;
  color: var(--dark-blue);
  margin-bottom: 20px;
}

.section1 p {
  font-family: var(--body-font);
  font-size: 1rem;
  color: var(--dark-blue);
  margin-bottom: 20px;
}

.section1-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section1-img {
  width: 100%;
  height: auto;
}

.section1-text {
  width: 100%;
  font-family: var(--body-font);
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .section1-content {
    flex-direction: column;
    justify-content: center;
  }
  .section1-text p {
    margin: 20px 0;
  }
  .section1 {
    text-align: center;
  }
  .section1-img img {
    width: 80%;
    height: auto;
  }
}

/* Section 2 Styles */

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0;
  background-color: var(--dark-blue);
  padding: 20px;
}

.section2-inner {
  display: flex;
  flex-wrap: wrap; /* Allows content to wrap to next line on smaller screens */
  justify-content: center;
  background-color: var(--blue-hue-1);
}

.section2-left {
  flex: 1; /* Takes up remaining space */
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.section2-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 40px;
  background-color: var(--blue-hue-1);
  padding: 40px;
}

.section2-img1 {
  position: relative;
  width: 100%;
  height: auto;
}

.section2-absimg {
  position: absolute;
  width: 350px;
  height: 200px;
  z-index: 3;
  background-color: var(--blue-hue-2);
  top: 50px;
  left: 20%;
}

.section2-relimg {
  position: relative;
  background-color: var(--dark-blue);
  width: 400px;
  height: 300px;
  z-index: 2;
}

.section2-absimg2 {
  position: absolute;
  width: 350px;
  height: 200px;
  z-index: 3;
  background-color: var(--blue-hue-2);
  top: 50px;
  left: 0;
}

.section2-relimg2 {
  position: relative;
  background-color: var(--dark-blue);
  width: 400px;
  height: 300px;
  z-index: 2;
  margin-left: 70px;
}

.section2-left h1 {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  color: var(--dark-blue);
}
.section2-content {
  margin: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section2-card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  font-family: var(--body-font);
}

.section2-card-img-top {
  width: 100%;
  height: auto;
}

.section2-read-more-banner {
  background-color: var(--dark-blue);
  color: white;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  opacity: 0.9;
  cursor: pointer;
}
.section2-read-more-banner p {
  padding: 0 20px;
  font-family: var(--body-font);
  font-size: 1rem;
}

.section2-read-more-banner:hover {
  opacity: 1;
}

.section2-card:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .section2-inner {
    flex-direction: column;
  }

  .section2-left,
  .section2-right {
    width: 100%;
  }

  .section2-absimg,
  .section2-absimg2 {
    display: none;
  }

  .section2-relimg2,
  .section2-relimg {
    margin-left: 0;
    width: 100%;
  }
}

/* Section 3 Styles */
.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--blue-hue-2);
  width: 100%;
}

.section3-inner {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue-hue-1);
  height: 90%;
  padding: 20px;
  margin: 40px 0;
  width: 100%;
}

.card-container {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  margin: 40px;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  /* 2 cards in a row with some space */
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 40px;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.read-more-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--dark-blue);
}

.read-more-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Section 4 Styles */

.carousel2-container {
  width: 100%;
  overflow: hidden;
  position: relative; /* Add position relative for absolute positioning */
}

.carousel2-slide img {
  flex: 0 0 20%; /* Set each brand to occupy 20% of the container width */
  max-width: 100px; /* Set max-width for each brand */
  height: auto; /* Maintain aspect ratio */
  margin: 0 50px; /* Add some spacing between brands */
}

/* Adjust the position of the slide */
.carousel2-slide {
  display: flex;
  transition: transform 0.3s ease;
  position: relative;
  width: 70%; /* Width is set to accommodate 5 logos at a time */
  padding: 20px;
}

/* Styles for carousel navigation buttons */
#prevBtn,
#nextBtn {
  background-color: #fff;
  color: var(--dark-blue);
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px;
  z-index: 2;
  position: absolute; /* Positioning the buttons */
  top: 50%; /* Adjust the vertical position */
  transform: translateY(-50%); /* Center align vertically */
}

#prevBtn {
  left: 0; /* Align to the left */
}

#nextBtn {
  right: 0; /* Align to the right */
}

#prevBtn i,
#nextBtn i {
  font-size: 24px;
}

#prevBtn:hover,
#nextBtn:hover {
  background-color: var(--blue-hue-1);
}

/* Footer Styles */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: var(--dark-blue);
  color: var(--white);
}

.footer-column {
  flex: 0;
  padding: 0 15px;
}
.footer-column p,
.footer-column span {
  font-family: var(--heading-font);
  font-size: 1rem;
  color: var(--white);
  font-weight: 600;
  white-space: nowrap;
}

.footer-links a {
  display: block;
  margin-bottom: 10px;
  color: var(--white);
  text-decoration: none;
  font-size: var(--heading-font-size);
  font-family: var(--heading-font);
  font-weight: 600;
}

.footer-logo {
  max-width: 100px;
}

.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-social img {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-column {
    flex: 1;
    text-align: center;
  }

  .footer-links a {
    margin-bottom: 15px;
  }

  .footer-social img {
    width: 25px;
    height: 25px;
    margin-bottom: 15px;
  }
}
