

.downloads-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue-hue-2);
}

.downloads-left {
  flex: 1;
  padding: 50px;
}

.downloads-content {
  font-size: 24px;
  font-family: var(--heading-font);
  color: #fff;
  font-weight: 500;
}

.downloads-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.downloads-button:hover {
  background-color: #0056b3;
}

.downloadsimage {
    flex: 1;
    height: 60vh;
    border-radius: 10px;
    padding: 20px;
}
